.plate--element.plate--element__content_slider_item {
  display: flex;
  flex: 1;
  width: 100%;
  p {
    margin-bottom: 23px;
  }
  .popup-trigger {
    margin-top: auto;
  }
}

.button a .fta-icon {
  height: 18px;
  position: relative;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-2px);
  svg {
    width: auto;
    height: 100%;
    margin-left: 0px;
    * {
      fill: var(--icon-color);
    }
  }
}

.content-block {
  position: relative;
  padding: 30px;
  background: #f2f2f2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
  h4 {
    color: var(--color-primaire-1);
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  &s {
    overflow: visible;
    .swiper-slide {
      display: flex;
      height: auto;
      .content-block {
        flex: 1;
      }
      p {
        margin-bottom: 23px;
      }
      .popup-trigger {
        margin-top: auto;
      }
    }
    .swiper-scrollbar {
      margin-top: 72px;
      .swiper-scrollbar-inner {
      }
    }
  }
}

.fast-search {
  position: relative;
  margin-bottom: 50px;
  justify-content: space-between;
  gap: 16px;
  &.slider-container {
    @media screen and (max-width: 1024px) {
      display: flex !important;
    }
  }
  &::after {
    content: '';
    display: none;
  }
  .filter-button-big {
    padding: 0 0 0 0;
    background-color: transparent;
    margin-right: 0;
    @media screen and (min-width: 1024px) { 
      width: calc(1 / 4 * 100% - ((1 - 1 / 4) * 16px));
    }
    &:nth-child(1) {
      @media screen and (min-width: 1024px) { 
        height: 218px;
        margin-bottom: -118px;
        display: flex;
        .search__popup--button {
          height: auto;
          flex: 1;
          padding: 36px 20px 152px 20px;
        }
      }
    }
    &:nth-child(5) {
      @media screen and (min-width: 1024px) { 
        margin-left: auto;
      }
    }
    svg {
      * {
        fill: var(--color-primaire-1);
        transition: fill 0.3s ease-in-out;
      }
    }
    &:hover {
      background-color: transparent;
      .search__popup--button {
        background-color: var(--color-primaire-1);
        p {
          color: white;
        }
        svg {
          * {
            fill: white;
          }
        }
      }
    }
    p {
      color: var(--color-primaire-1);
      margin-bottom: 0;
      text-align: left;
      font-size: 24px;
      line-height: 1.3;
      font-weight: 500;
      transition: color 0.3s ease-in-out;
    }
    .search__popup--button {
      background-color: var(--color-sub-2);
      position: relative;
      padding: 36px 20px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 16px 9px 10px rgba(0, 0, 0, 0);
      transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
    &:hover {
    }
  }
}
