.form-group-attendees {
  .form-field-container-add-delete {
    &:first-child {
      display: none;
    }
  }
  .button--add-attendees {
    background-color: #eaedf0;

    .text {
      &::after,
      span {
        color: #2d2e33;
      }
    }
    svg {
      position: relative;
      top: -1px;
      margin-left: 9px;
      width: 16px;
      height: 16px;
      path {
        fill: #0033a0;
      }
    }
  }
}
.form-field-container-add-delete {
  display: flex;
  flex-flow: row nowrap !important;
  .half {
    width: calc(1 / 2 * 100% - (1 - 1 / 2) * 84px);
  }
}
.add-delete {
  position: relative;
  width: 52px;
  height: 52px;
  &__circle {
    position: relative;
    width: 52px;
    height: 52px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    svg {
      width: 16px;
      height: 16px;
    }
  }
  &__delete {
    background-color: #eaedf0;
    cursor: pointer;
    svg {
      path {
        fill: #2d2e33;
      }
    }
  }
}
