[data-parent="popup_content"] {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-top: 23px;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: var(--color-primaire-2);
    transition: transform 0.3s ease-in-out;
  }
  &:hover {
    &::before {
      transform: scale(1.2);
    }
  }
  svg {
    z-index: 2;
  }
}
.popup {
  display: block;
  position: fixed;
  z-index: 103;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  &__content {
    &__scroll {
      overflow-y: scroll;
      max-height: 100%;
      height: auto;
    }
  }
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    margin: auto;
    max-width: 68%;
    width: 100%;
    height: auto;
    background-color: white;
    @include media-breakpoint-down(lg) {
      max-width: calc(100% - 4rem);
    }
  }
  &__video {
    padding-top: 56.25%;
    height: 0;
    background-color: white;
    iframe,
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 1;
    }
  }
  // &__close {
  //   position: absolute;
  //   top: 1.6rem;
  //   right: -2.4rem;
  //   cursor: pointer;
  //   background-color: white;
  //   border: 0.2rem solid var(--color-sub-1);
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   border-radius: 50%;
  //   width: 4.8rem;
  //   height: 4.8rem;
  //   z-index: 2;
  //   svg {
  //     transition: transform 0.25s ease;
  //     width: 1rem;
  //     height: 1rem;
  //   }
  //   &:hover {
  //     svg {
  //       transform: rotate(90deg);
  //     }
  //   }
  // }
  &--overlay {
    left: unset;
    right: 0;
    justify-content: flex-end;
    align-items: unset;
    overflow: unset;
    width: 100%;
    &.popup--download {
      justify-content: center;
      align-items: center;
      .popup__close {
        background-color: transparent;
        &__wrapper {
          top: 28px;
          right: 28px;
        }
        svg {
          path {
            fill: var(--color-primaire-1);
          }
        }
      }
      .download-overlay-subtitle {
        color: var(--color-primaire-2);
      }
      .form-group {
        margin-bottom: 16px;
      }
      .form-bottom {
        margin-bottom: 0;
      }
      .form-group-title p {
        max-width: 400px;
        font-size: 24px;
      }
      .popup__content {
        overflow-y: auto;
        padding: 48px;
      }
      .popup__inner {
        transform: translateY(100%);
      }
      &.popup--open .popup__inner {
        transform: translateY(0%);
      }
    }
    &.popup--small {
      .popup__inner {
        .content-overlay__info {
          width: 100%;
        }
        max-width: 40vw;
        @include media-breakpoint-down(xl) {
          max-width: 40vw;
        }
        @include media-breakpoint-down(lg) {
          max-width: 40vw;
        }
        @include media-breakpoint-down(sm) {
          max-width: calc(100vw - 24px);
        }
      }
    }
    h4 {
      color: var(--color-primaire-1);
    }
    .popup {
      // &__close {
      //   top: 1.6rem;
      //   left: -2.4rem;
      //   right: unset;
      //   svg {
      //     path {
      //       fill: var(--dark-blue);
      //     }
      //   }
      // }
      &__inner {
        padding: 0;
        border-radius: 0;
        max-height: unset;
        max-width: 80vw;
        margin: unset;
        transform: translateX(100%);
        transition: transform 0.4s ease;
        background-color: white;
        @include media-breakpoint-down(xl) {
          max-width: 50vw;
        }
        @include media-breakpoint-down(lg) {
          max-width: 70vw;
        }
        @include media-breakpoint-down(sm) {
          max-width: calc(100vw - 24px);
        }
      }
    }
    &.popup--open {
      .popup__inner {
        transform: translateX(0);
      }
      // .popup__close {
      //   transform: translateX(0);
      // }
    }
  }
  &--content {
    .popup {
      &__inner {
      }
      &__content {
        height: 100%;
      }
    }
  }
  &.popup--open {
    &::before {
      opacity: 0.32;
    }
  }
}

.content-overlay {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  .content-overlay__image {
    position: relative;
    width: 55%;
    height: 100%;
    @include media-breakpoint-down(xl) {
      width: 50%;
    }
    @include media-breakpoint-down(lg) {
      display: none;
    }

    .media-element-container {
      height: 100%;
      .slider-container.media {
        height: 100%;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--grey);
      opacity: 0.72;
    }
    picture {
      img {
        height: 100%;
        max-height: 100%;
        top: unset;
        bottom: 0;
        width: 100%;
      }
    }
  }
  &__info {
    position: relative;
    width: 45%;
    padding: 100px 56px;
    @include media-breakpoint-down(xl) {
      width: 50%;
    }
    @include media-breakpoint-down(lg) {
      padding: 40px;
      width: 100%;
    }

    &__text {
      margin-top: 25px;
    }
  }
}
